In [6]:
import numpy as np
import pandas as pd

In [7]:
def train_elos(data, K=32):
    elos = {}
    for team in set(games_train[0]).union(set(games_train[2])):
        elos[team] = 1200.0
    
    for i in xrange(len(data)):
        game = data.iloc[i,]
        team1 = game[0]
        rating1 = elos[team1]
        team2 = game[2]
        rating2 = elos[team2]
        t_rating1 = 10**(rating1/400.0)
        t_rating2 = 10**(rating2/400.0)
        e_score1 = t_rating1/(t_rating1+t_rating2)
        e_score2 = t_rating2/(t_rating1+t_rating2)
        if game[1] > game[3]:
            s1 = 1
            s2 = 0
        else:
            s1 = 0
            s2 = 1
        u_rating1 = rating1 + K*(s1-e_score1)
        u_rating2 = rating2 + K*(s2-e_score2)
        elos[team1] = u_rating1
        elos[team2] = u_rating2
    
    return elos

def dump_elos(elos):
    import operator
    sorted_elos = sorted(elos.items(), key=operator.itemgetter(1))
    print sorted_elos[::-1]

In [8]:
def test_elos(model, data):
    data["TrueWinner"] = ""
    data["TrueLoser"] = ""
    data["PredWinner"] = ""
    data["PredLoser"] = ""
    for i in xrange(len(data)):
        game = data.iloc[i,]
        if game[1] > game[3]:
            data.iloc[i,5] = game[0]
            data.iloc[i,6] = game[2]
        else:
            data.iloc[i,5] = game[2]
            data.iloc[i,6] = game[0]
        if model[game[0]] > model[game[2]]:
            data.iloc[i,7] = game[0]
            data.iloc[i,8] = game[2]
        else:
            data.iloc[i,7] = game[2]
            data.iloc[i,8] = game[0]
    return data

In [9]:
games_train = pd.read_csv('games_train.csv', header=None)
elos = train_elos(games_train)
dump_elos(elos)
games_test = pd.read_csv('games_test.csv', header=None)
pred = test_elos(elos, games_test)

[('Golden State Warriors', 1470.444759921448), ('San Antonio Spurs', 1417.1071145762278), ('Los Angeles Clippers', 1400.0095316171225), ('Houston Rockets', 1366.9964863541645), ('Cleveland Cavaliers', 1346.1717905563178), ('Memphis Grizzlies', 1313.8923496199775), ('Atlanta Hawks', 1297.7101412736301), ('Dallas Mavericks', 1282.251242224362), ('Boston Celtics', 1279.8451368213132), ('New Orleans Pelicans', 1271.7621754111601), ('Chicago Bulls', 1270.2034610676458), ('Oklahoma City Thunder', 1265.978938713081), ('Utah Jazz', 1237.262145018419), ('Portland Trail Blazers', 1233.9862405948877), ('Indiana Pacers', 1226.8342500679287), ('Toronto Raptors', 1216.7620500570572), ('Brooklyn Nets', 1216.3052785435477), ('2', 1216.0), ('Washington Wizards', 1205.223621455903), ('0', 1184.0), ('Milwaukee Bucks', 1165.0713548808958), ('Phoenix Suns', 1153.0123586134832), ('Miami Heat', 1147.273920563932), ('Detroit Pistons', 1129.9126287493343), ('Denver Nuggets', 1100.6059533687271), ('Charlotte Hornets', 1072.1995598845792), ('Sacramento Kings', 1072.1416577814591), ('Orlando Magic', 1014.8652449344362), ('Los Angeles Lakers', 976.9870637571812), ('New York Knicks', 972.8654991909793), ('Minnesota Timberwolves', 942.7878816878574), ('Philadelphia 76ers', 933.5301626929397)]

In [27]:
games_init = pd.read_csv('games_initial.csv', header=None)
init_elos = train_elos(games_init)

games_train = pd.read_csv('games_train.csv', header=None)
games_train[5] = 0
games_train[6] = 0
elos = init_elos

K=32
data = games_train
for i in xrange(len(data)):
    game = data.iloc[i,]
    team1 = game[0]
    rating1 = elos[team1]
    team2 = game[2]
    rating2 = elos[team2]
    data.iloc[i,5] = rating1
    data.iloc[i,6] = rating2
    t_rating1 = 10**(rating1/400.0)
    t_rating2 = 10**(rating2/400.0)
    e_score1 = t_rating1/(t_rating1+t_rating2)
    e_score2 = t_rating2/(t_rating1+t_rating2)
    if game[1] > game[3]:
        s1 = 1
        s2 = 0
    else:
        s1 = 0
        s2 = 1
    u_rating1 = rating1 + K*(s1-e_score1)
    u_rating2 = rating2 + K*(s2-e_score2)
    elos[team1] = u_rating1
    elos[team2] = u_rating2

print elos

# data.to_csv('games_train_with_elos.csv', header=None, index=None)

games_test = pd.read_csv('games_test.csv', header=None)
games_test[5] = 0
games_test[6] = 0
K=32
data = games_test
for i in xrange(len(data)):
    game = data.iloc[i,]
    team1 = game[0]
    rating1 = elos[team1]
    team2 = game[2]
    rating2 = elos[team2]
    data.iloc[i,5] = rating1
    data.iloc[i,6] = rating2
    t_rating1 = 10**(rating1/400.0)
    t_rating2 = 10**(rating2/400.0)
    e_score1 = t_rating1/(t_rating1+t_rating2)
    e_score2 = t_rating2/(t_rating1+t_rating2)
    if game[1] > game[3]:
        s1 = 1
        s2 = 0
    else:
        s1 = 0
        s2 = 1
    u_rating1 = rating1 + K*(s1-e_score1)
    u_rating2 = rating2 + K*(s2-e_score2)

print elos

{'Los Angeles Lakers': 976.993259833, 'Chicago Bulls': 1270.1963086992118, 'San Antonio Spurs': 1417.1263741058046, 'New Orleans Pelicans': 1271.7722138750046, 'Houston Rockets': 1367.0122788984838, 'Detroit Pistons': 1129.8952210216764, 'Boston Celtics': 1279.8315414586577, 'Miami Heat': 1147.2656516671532, 'Orlando Magic': 1014.8461819259704, 'Portland Trail Blazers': 1234.0022405574593, 'Golden State Warriors': 1470.4630430481768, 'New York Knicks': 972.8485711642498, 'Washington Wizards': 1205.2144444475107, 'Dallas Mavericks': 1282.267074646377, 'Minnesota Timberwolves': 942.7958893841152, 'Los Angeles Clippers': 1400.0274753131253, 'Oklahoma City Thunder': 1265.9948273382975, 'Charlotte Hornets': 1072.1862394327804, 'Milwaukee Bucks': 1165.056014596513, 'Memphis Grizzlies': 1313.9087214877807, 'Toronto Raptors': 1216.7525346074815, 'Utah Jazz': 1237.2710819824506, 'Phoenix Suns': 1153.0253758946355, 'Sacramento Kings': 1072.1475527998393, 'Philadelphia 76ers': 933.5027968023111, 'Cleveland Cavaliers': 1346.1602757862258, 'Atlanta Hawks': 1297.7015286075498, 'Brooklyn Nets': 1216.2948452029725, 'Indiana Pacers': 1226.8247927297496, 'Denver Nuggets': 1100.6156426854334}
{'Los Angeles Lakers': 976.993259833, 'Chicago Bulls': 1270.1963086992118, 'San Antonio Spurs': 1417.1263741058046, 'New Orleans Pelicans': 1271.7722138750046, 'Houston Rockets': 1367.0122788984838, 'Detroit Pistons': 1129.8952210216764, 'Boston Celtics': 1279.8315414586577, 'Miami Heat': 1147.2656516671532, 'Orlando Magic': 1014.8461819259704, 'Portland Trail Blazers': 1234.0022405574593, 'Golden State Warriors': 1470.4630430481768, 'New York Knicks': 972.8485711642498, 'Washington Wizards': 1205.2144444475107, 'Dallas Mavericks': 1282.267074646377, 'Minnesota Timberwolves': 942.7958893841152, 'Los Angeles Clippers': 1400.0274753131253, 'Oklahoma City Thunder': 1265.9948273382975, 'Charlotte Hornets': 1072.1862394327804, 'Milwaukee Bucks': 1165.056014596513, 'Memphis Grizzlies': 1313.9087214877807, 'Toronto Raptors': 1216.7525346074815, 'Utah Jazz': 1237.2710819824506, 'Phoenix Suns': 1153.0253758946355, 'Sacramento Kings': 1072.1475527998393, 'Philadelphia 76ers': 933.5027968023111, 'Cleveland Cavaliers': 1346.1602757862258, 'Atlanta Hawks': 1297.7015286075498, 'Brooklyn Nets': 1216.2948452029725, 'Indiana Pacers': 1226.8247927297496, 'Denver Nuggets': 1100.6156426854334}

In [29]:
data.to_csv('games_test.csv', header=None, index=None)

In [28]:
data

,0,1,2,3,4,5,6
0,Detroit Pistons,106,Atlanta Hawks,94,2016,1129.895221,1297.701529
1,Cleveland Cavaliers,95,Chicago Bulls,97,2016,1346.160276,1270.196309
2,New Orleans Pelicans,95,Golden State Warriors,111,2016,1271.772214,1470.463043
3,Philadelphia 76ers,95,Boston Celtics,112,2016,933.502797,1279.831541
4,Chicago Bulls,115,Brooklyn Nets,100,2016,1270.196309,1216.294845
5,Utah Jazz,87,Detroit Pistons,92,2016,1237.271082,1129.895221
6,Denver Nuggets,105,Houston Rockets,85,2016,1100.615643,1367.012279
7,Minnesota Timberwolves,112,Los Angeles Lakers,111,2016,942.795889,976.993260
8,Cleveland Cavaliers,106,Memphis Grizzlies,76,2016,1346.160276,1313.908721
9,Charlotte Hornets,94,Miami Heat,104,2016,1072.186239,1147.265652
10,New York Knicks,122,Milwaukee Bucks,97,2016,972.848571,1165.056015
11,San Antonio Spurs,106,Oklahoma City Thunder,112,2016,1417.126374,1265.994827
12,Washington Wizards,88,Orlando Magic,87,2016,1205.214444,1014.846182
13,Dallas Mavericks,111,Phoenix Suns,95,2016,1282.267075,1153.025376
14,New Orleans Pelicans,94,Portland Trail Blazers,112,2016,1271.772214,1234.002241
15,Los Angeles Clippers,111,Sacramento Kings,104,2016,1400.027475,1072.147553
16,Indiana Pacers,99,Toronto Raptors,106,2016,1226.824793,1216.752535
17,Memphis Grizzlies,112,Indiana Pacers,103,2016,1313.908721,1226.824793
18,Dallas Mavericks,88,Los Angeles Clippers,104,2016,1282.267075,1400.027475
19,Atlanta Hawks,112,New York Knicks,101,2016,1297.701529,972.848571
20,Charlotte Hornets,94,Atlanta Hawks,97,2016,1072.186239,1297.701529
21,Toronto Raptors,113,Boston Celtics,103,2016,1216.752535,1279.831541
22,Miami Heat,92,Cleveland Cavaliers,102,2016,1147.265652,1346.160276
23,Minnesota Timberwolves,95,Denver Nuggets,78,2016,942.795889,1100.615643
24,Chicago Bulls,94,Detroit Pistons,98,2016,1270.196309,1129.895221
25,Golden State Warriors,112,Houston Rockets,92,2016,1470.463043,1367.012279
26,Washington Wizards,118,Milwaukee Bucks,113,2016,1205.214444,1165.056015
27,Oklahoma City Thunder,139,Orlando Magic,136,2016,1265.994827,1014.846182
28,Utah Jazz,99,Philadelphia 76ers,71,2016,1237.271082,933.502797
29,Portland Trail Blazers,92,Phoenix Suns,110,2016,1234.002241,1153.025376
...,...,...,...,...,...,...,...
1200,Golden State Warriors,92,San Antonio Spurs,86,2016,1470.463043,1417.126374
1201,Charlotte Hornets,98,Washington Wizards,113,2016,1072.186239,1205.214444
1202,Charlotte Hornets,114,Boston Celtics,100,2016,1072.186239,1279.831541
1203,Washington Wizards,120,Brooklyn Nets,111,2016,1205.214444,1216.294845
1204,Atlanta Hawks,94,Cleveland Cavaliers,109,2016,1297.701529,1346.160276
1205,Houston Rockets,129,Minnesota Timberwolves,105,2016,1367.012279,942.795889
1206,Chicago Bulls,121,New Orleans Pelicans,116,2016,1270.196309,1271.772214
1207,Los Angeles Lakers,79,Oklahoma City Thunder,112,2016,976.993260,1265.994827
1208,Milwaukee Bucks,98,Orlando Magic,107,2016,1165.056015,1014.846182
1209,Sacramento Kings,105,Phoenix Suns,101,2016,1072.147553,1153.025376
1210,Dallas Mavericks,101,Utah Jazz,92,2016,1282.267075,1237.271082
1211,Miami Heat,99,Detroit Pistons,93,2016,1147.265652,1129.895221
1212,New York Knicks,90,Indiana Pacers,102,2016,972.848571,1226.824793
1213,Memphis Grizzlies,84,Los Angeles Clippers,110,2016,1313.908721,1400.027475
1214,Oklahoma City Thunder,98,San Antonio Spurs,102,2016,1265.994827,1417.126374
1215,Philadelphia 76ers,98,Toronto Raptors,122,2016,933.502797,1216.752535
1216,Miami Heat,88,Boston Celtics,98,2016,1147.265652,1279.831541
1217,Toronto Raptors,103,Brooklyn Nets,96,2016,1216.752535,1216.294845
1218,Philadelphia 76ers,105,Chicago Bulls,115,2016,933.502797,1270.196309
1219,Orlando Magic,103,Charlotte Hornets,117,2016,1014.846182,1072.186239
1220,Detroit Pistons,112,Cleveland Cavaliers,110,2016,1129.895221,1346.160276
1221,San Antonio Spurs,96,Dallas Mavericks,91,2016,1417.126374,1282.267075
1222,Memphis Grizzlies,104,Golden State Warriors,125,2016,1313.908721,1470.463043
1223,Sacramento Kings,81,Houston Rockets,116,2016,1072.147553,1367.012279
1224,Utah Jazz,96,Los Angeles Lakers,101,2016,1237.271082,976.993260
1225,Indiana Pacers,97,Milwaukee Bucks,92,2016,1226.824793,1165.056015
1226,New Orleans Pelicans,109,Minnesota Timberwolves,144,2016,1271.772214,942.795889
1227,Los Angeles Clippers,105,Phoenix Suns,114,2016,1400.027475,1153.025376
1228,Denver Nuggets,99,Portland Trail Blazers,107,2016,1100.615643,1234.002241
1229,Atlanta Hawks,98,Washington Wizards,109,2016,1297.701529,1205.214444

In [5]:
(sum(pred["TrueWinner"] == pred["PredWinner"])+0.0)/len(pred)

0.64715447154471539

In [4]:
games = pd.read_csv('games.csv', header=None)

In [45]:
df1 = pd.DataFrame([games[0], games[1]-games[3], games[4]]).T

In [47]:
df2 = pd.DataFrame([games[2], games[3]-games[1], games[4]]).T

In [50]:
df1 = df1.rename(columns={0: 'Team', 'Unnamed 0': 'ScoreDiff', 4: 'Year'})
df2 = df2.rename(columns={2: 'Team', 'Unnamed 0': 'ScoreDiff', 4: 'Year'})

In [51]:
team_scores = pd.concat([df1, df2], ignore_index = True)

In [90]:
elos = {}
for team in set(team_scores['Team']):
    elos[team] = 1200.0
    
K = 32
for i in xrange(len(games)):
    game = games.iloc[i,]
    team1 = game[0]
    rating1 = elos[team1]
    team2 = game[2]
    rating2 = elos[team2]
    t_rating1 = 10**(rating1/400.0)
    t_rating2 = 10**(rating2/400.0)
    e_score1 = t_rating1/(t_rating1+t_rating2)
    e_score2 = t_rating2/(t_rating1+t_rating2)
    if game[1] > game[3]:
        s1 = 1
        s2 = 0
    else:
        s1 = 0
        s2 = 1
    u_rating1 = rating1 + K*(s1-e_score1)
    u_rating2 = rating2 + K*(s2-e_score2)
    elos[team1] = u_rating1
    elos[team2] = u_rating2

In [91]:
import operator
sorted_elos = sorted(elos.items(), key=operator.itemgetter(1))

In [92]:
sorted_elos[::-1]

[('Golden State Warriors', 1456.2734122018471),
 ('San Antonio Spurs', 1420.0698279396202),
 ('Los Angeles Clippers', 1334.6113332468972),
 ('Oklahoma City Thunder', 1319.9166908308803),
 ('Toronto Raptors', 1297.5066622781537),
 ('Cleveland Cavaliers', 1292.916946192631),
 ('Atlanta Hawks', 1275.2306813106652),
 ('Portland Trail Blazers', 1265.0847217165378),
 ('Houston Rockets', 1262.002588542613),
 ('Memphis Grizzlies', 1251.1797294712494),
 ('Miami Heat', 1248.6807166764),
 ('Dallas Mavericks', 1247.3391242182256),
 ('Indiana Pacers', 1232.7854715665717),
 ('Boston Celtics', 1230.3487170988403),
 ('Chicago Bulls', 1227.0336387282189),
 ('Charlotte Hornets', 1223.1701585817657),
 ('Washington Wizards', 1206.1279348975627),
 ('Utah Jazz', 1194.1436246952076),
 ('Detroit Pistons', 1186.2393903562188),
 ('New Orleans Pelicans', 1158.7471597670983),
 ('Charlotte Bobcats', 1152.5008488608917),
 ('Denver Nuggets', 1148.8560414712506),
 ('New Jersey Nets', 1135.5870942840347),
 ('Milwaukee Bucks', 1129.4995249730684),
 ('Sacramento Kings', 1122.7941945355415),
 ('New Orleans Hornets', 1109.1985035714229),
 ('Phoenix Suns', 1107.2867805851504),
 ('Orlando Magic', 1103.9421151909676),
 ('New York Knicks', 1094.874664725531),
 ('Minnesota Timberwolves', 1093.607248720457),
 ('Brooklyn Nets', 1091.818867135529),
 ('Los Angeles Lakers', 1030.420089043789),
 ('Philadelphia 76ers', 950.2054965851613)]